@font-face {
    font-family: Cursed Timer ULiL;
    src: url(CursedTimerUlil-Aznm.ttf);
  }

html {
    font-family: "Cursed Timer ULiL";
}

body {
    background-image: url('/math-bg.jpg');
    background-size: cover;
}

main {
    max-width: 400px;
    height: 710px;
    background-color: #000;
    margin: 2em auto;
    padding: 0 1.5em 0 1.5em;
    border-radius: 16px;
    border: 4px solid darkslategrey;
}
.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5em;
    align-items: center;
}

hr {
    margin-top: 1.5em;
    border: 1px solid #fff;
}

label {
    color: #fff;
    font-size: 1.5em;
}

input {
    padding: 0.5em 0;
    width: 2.5em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    font-family: "Cursed Timer ULiL";
}

button {
    padding: 0.5em;
    font-size: 2.5rem;
    border: 2px solid #000;
    border-radius: 10px;
    font-family: 'Cursed Timer ULiL';
}

button:hover {
    background-color: blue;
    color: white;
}
 
p {
    text-align: center;
    font-weight: bold;
    margin: 1em;
    font-size: 1.5rem;
    color: #fff;
    text-transform:uppercase;
    letter-spacing: .1em;
}

.container {
    display: flex;
    justify-content: space-around;
}

.resetBtn {
    font-size: 1.5em;
    background-color:yellow;
    padding: .75em;
    margin: .5em 0;
    font-weight: bold;
}

.resetBtn:hover {
    background-color: red;
}

.answerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

#result {
    background-color: green;
    border: 2px solid black;
    color: white;
    padding: 0.5em 0.75em;
    border-radius: 10px;
    font-size: 2em;
}